{%extends "recipe/basic.html"%}

{%block title%}{{recipe_data.title}}{%endblock%}

{%block body%}
    <h1>Шукаємо рецепти та ідеї за інгредієнтами!</h1>
    <h2>{{recipe_data.title_content}}</h2>
     {% if recipe_data.title_image %}
    <img src="{{recipe_data.title_image.image.url}}" alt="Фото рецепта">
    {% endif %}
    {% for categoriy recipe_data.categories %}
    <h3>В категоріях: {{category}}</h3>
    {% endfor %}
    <h4>Інгредієнти:</h4>
    {%for ingredient in recipe_data.ingredients%}
    <h5>{{ingredient}}</h5>
    {% endfor %}
    {% if recipe_data.body_image %}
    <img src="{{recipe_data.body_image.image.url}}" alt="Інгредієнти">
    {% endif %}
    <p>Приготування: {{recipe_data.preparation}}</p>
    <p>Сподобалось: {{recipe_data.reviews}}</p>
{%endblock%}